:root{

}


body{
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
   background-color: #F6F6F6;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}
h1,h2,h3,h4,h5,h6,
p,ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

button{
    margin: 0;
    padding: 0;
}
img{
    display: block;
}

.container{
    width: 1440px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
}
/* -----------------Header------------------ */
.header{
    position: absolute;
    width: 100%;
    z-index: 2;
    left: 50%;
    background: transparent;
    height: 78px;
    border-bottom: 0.5px solid rgba(247, 247, 247, 0.2);
    transform: translateX(-50%);
}

.header-container{
    display: flex;
}

.header .navigation{
    height: 78px;
}

.header .navigation-list{
    height: 100%;
    display: flex;
    gap: 32px;
    align-items: center;
}

.header .navigation-list .item{
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    
}

.header .navigation-list .item.active::before{
   content: "";
   
   position: absolute;
   width: 4px;
   height: 4px;
   top: 50px;
   left: 50%;

   transform: translateX(-50%);
   
   border-radius: 50%;
   background-color: #F7F7F7;;

}

.header .navigation-list .item a{
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #F7F7F7;
}



.header .title{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */

    letter-spacing: 0.18em;
    text-transform: uppercase;

    color: #F7F7F7;
}

.header .suptitle {
    font-weight: 400;

    font-size: 8px;
line-height: 10px;
/* identical to box height, or 125% */

letter-spacing: 0.18em;
text-transform: uppercase;

color: #D8D7D7;
}

.header .logo-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 370px;
}

.header .social-list{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 17px;
    color: #F7F7F7;
}

/* -----------------HERO------------------ */

.hero{
    padding-top: 274px;
    padding-bottom: 56px;
    background: #121212;
}

.hero-container{
    position: relative;
}

.hero .title {

    margin-bottom: 188px;

    font-weight: 400;
    font-size: 180px;
    line-height: 180px;
    /* identical to box height, or 100% */

    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #F7F7F7;
}

.hero .text-container{
    display: flex;
    width: 684px;
}

.hero .text-container .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* or 129% */

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #F7F7F7;
}

.hero .text-container .text +.text{
    margin-left: 32px;
}

.hero .text.first-part{
    width: 338px;
}

.hero .text.second-part{
    width: 314px;
}

.hero .button-wrap{
    position: relative;
    margin-left: 280px;
    display: flex;
}

.hero button[type="button"]{
    display: flex;
    
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 171px;
    height: 42px;

    border: 0.8px solid #F7F7F7;
    border-radius: 32px;
    background-color: transparent;


    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */

    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #F7F7F7;

    cursor: pointer;

}

.hero button[type="button"]+ button{
    margin-left: 14px;
}

.content-container{
    display: flex;
}

.img-hero{
    position: absolute;
    
    right: 0;
    bottom: -56px;
}

/* -----------------About------------------*/

.about{
    padding-top: 100px;
    padding-bottom: 97px;

}

.about-list .item{
    display: flex;
    position: relative;
}
.about-list .item+ .item{
    padding-top: 100px;
}


.img-about +.img-about{
    position: absolute;
}

.about-list .item:nth-child(1) .text-wrap{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: 199px;
    width: 530px;
}

.about-list .item:nth-child(2) .text-wrap{
    display: flex;
    flex-direction: column;
    width: 263px;

    margin-top: 127px;
    margin-left: 496px;
}

.about-list .suptitle{
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height, or 117% */

    letter-spacing: 0.18em;
    text-transform: uppercase;

    color: #484848;
}

.about-list .item:nth-child(1) .text{
    padding-right: 57px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */

    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #121212;
}

.about-list .text +.text{
    margin-top: 14px;
}

.about-list .item:nth-child(2) .text{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* or 129% */

    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #121212;
}


.img-about.bath{
    top: 209px;
    left: 300px;
}

.img-about.comment{
    top: 176px;
    left: 370px;
    z-index: 2;
}

.img-about.yellow-chairs{
    position: absolute;
    top: 223px;
    left: 176px;
}
.img-about.glasses{
    margin-left: auto;
}

/* -----------------Restaurant------------------*/

.restaurant{
    padding-top: 44px;
    padding: 26px;

}
.restaurant .title {
    font-weight: 500;
    font-size: 68px;
    line-height: 68px;
    /* identical to box height, or 100% */

    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #121212;
}

.restaurant-wrap{
    display: flex;
    align-items: center;
}

.restaurant-wrap .text{
    width: 253px;
    margin-left: 32px;
    margin-right: auto;

    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* or 129% */

    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #121212;
}

.restaurant .restaurant-wrap button{
    display: flex;
    align-items: center;
    justify-content: center;


    width: 167px;
    height: 42px;

    border: 0.8px solid #121212;
    border-radius: 32px;

    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */

    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #121212;
    background-color: transparent;

    cursor: pointer;
}

.restaurant button+ button{
    margin-left: 14px;

    
}

.restaurant .restaurant-wrap .button-wrap{
    height: 68px;
    display: flex;
    align-items: flex-start;
}
.gallery{
    width: 100%;
    overflow: hidden;
}
.photo-slider {
    position: relative;
    right: 0;
    margin-top: 125px;
    display: flex;
    gap: 32px;
    transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.gallery .button-wrap{
    margin-top: 51px;
    display: flex;
    justify-content: center;
}

.gallery .button-wrap button{
    background-color: transparent;
    border: none;

    cursor: pointer;
}
/* -----------------Welcome------------------*/

.welcome{
    padding-top: 100px;
    padding-bottom: 100px;
}

.welcome-container{
    display: flex;
}

.welcome .title{
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    /* or 111% */

    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #000000;
}

.welcome .text{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #000000;
}

.welcome .text+ .text{
    margin-top: 24px;
}

.welcome .text-wrap{
    margin-left: 32px;
    width: 437px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* -----------------Hotel------------------*/

.hotel{
    padding-top: 44px;
    padding-bottom: 60px;
    background: #121212;
}

.hotel-text-wrap {
    display:flex;
    align-items: center;
}

.hotel-text-wrap .title{
    font-weight: 500;
    font-size: 68px;
    line-height: 68px;
    /* identical to box height, or 100% */

    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #F7F7F7;
}

.hotel-text-wrap .text{
    margin-left: 32px;
    width: 362px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* or 129% */

    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #F7F7F7;
}

.hotel .button-wrap{
    align-self: flex-start;
    margin-left: auto;
}

.hotel .button-wrap button{
    width: 170px;
    height: 42px;

    border: 0.8px solid #F7F7F7;
    border-radius: 32px;

    background-color: transparent;


    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */

    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #F7F7F7;

    cursor: pointer;
}

.hotel .button-wrap button+ button{
    margin-left: 14px;
}

.hotel .img-wrap{
    padding-top: 80px;
    padding-left: 158px;
    padding-right: 158px;
    display: grid;
    grid-template-columns: 320px 420px 320px;
    grid-template-rows: 260px 260px;
    grid-column-gap: 32px;
    grid-row-gap: 28px;
}

.hotel .img-wrap img:nth-child(3){
    grid-column-start: 2;
    grid-row-start: 1;
    
}

.hotel .img-wrap img:nth-child(5){
    grid-column-start: 3;
    grid-row-start: 2;
}

/* -----------------Location-----------------*/

.location{
    padding-top: 100px;
    padding-bottom: 100px;
}

.location-container{
    padding-left: 64px;
    padding-right: 64px;
    display: flex;
}

.location iframe{
    filter: grayscale();
    mix-blend-mode: luminosity;
    box-shadow: -14px 24px 68px -16px rgba(0, 0, 0, 0.12);
}

.location-wrap{
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.location .address-wrap{
    display: flex;
    gap: 70px;
}

.location .tel-wrap{
    display: flex;
    gap: 12px;
}

.location .title{
    font-weight: 500;
    font-size: 68px;
    line-height: 68px;
    /* identical to box height, or 100% */

    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #121212;
}



.location .address a{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */

    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #000000;
}

.location .tel{
    display: block;

    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */

    letter-spacing: -0.02em;

    color: #121212;

}

.location .tel-wrap .text{
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #121212;
}

/* -----------------Footer-----------------*/

.footer{
    padding-top: 44px;
    padding-bottom: 80px;

    width: 100%;

    background: transparent;
    border-bottom:  0.5px solid rgba(18, 18, 18, 0.3);
    
}

.footer-container{
    display: flex;
}

.footer .navigation{
}

.footer .navigation-list{
    height: 100%;
    display: flex;
    gap: 32px;
    
}

.footer .navigation-list .item{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #121212;
}
.footer .title{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */

    letter-spacing: 0.18em;
    text-transform: uppercase;

    color: #121212;
}

.footer .suptitle {
    font-weight: 400;

    font-size: 8px;
    line-height: 10px;
    /* identical to box height, or 125% */

    letter-spacing: 0.18em;
    text-transform: uppercase;

    color: #121212;
}

.footer .logo-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 370px;
}

.footer .social-list{
    margin-left: auto;
    display: flex;
    gap: 16px;
}


/* -----------------Modal Book a table-----------------*/

.backdrop{
    position:fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: #a8a0a089;
    z-index:999;
}

.modal-bt{
    
    width: 628px;
    height: 476px;

    padding: 32px 32px 60px;

    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    /* background-color: #121212; */
    background-color: #F6F6F6;
}

.modal-bt h2{
    margin-bottom: 60px;

    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    /* identical to box height, or 111% */

    letter-spacing: -0.02em;
    text-transform: uppercase;

    /* color: #F7F7F7; */
}

.modal-bt form{
    display: flex;
    column-gap: 32px;
    row-gap: 40px;
    flex-wrap: wrap;
}

.modal-bt form label{
    flex-basis: calc((100% - 32px)/2);

    font-weight: 400;
font-size: 8px;
line-height: 12px;
/* identical to box height, or 150% */

letter-spacing: 0.18em;
text-transform: uppercase;

color: #D8D7D7;
}

.modal-bt form label input{
    width: 100%;
    height: 36px;
}
.modal-bt form label input::placeholder{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.modal-bt button[type="submit"]{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 14px 133px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */

    letter-spacing: -0.02em;
    text-transform: uppercase;

    border-radius: 32px;
}